/vendor
/node_modules
.env
.phpunit.result.cache
/storage/*.key
/public/storage
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php

# Laravel IDE Helper
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.idea/

# OS files
.DS_Store
Thumbs.db

